.about {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  justify-content: space-between;
  margin-bottom: 24px;
  @media (min-width: 768px) {
    margin-top: 32px;
    flex-direction: row;
    min-height: 208px;
    margin-inline: 25px;
    justify-content: space-between;
  }
  @media (min-width: 1120px) {
    margin-top: 16px;
  }

  @media (min-width: 1440px) {
    width: 1090px;
    margin-left: 320px;
  }
}

.about__discription {
  margin-inline: 0px;

  @media (min-width: 1440px) {
    margin-left: 34px;
  }
}

.about__text {
  height: 90px;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  margin-left: 16px;
  @media (min-width: 768px) {
    height: 158px;
    width: 312px;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    margin-right: 16px;
    margin-left: 0;
  }
  @media (min-width: 1120px) {
    height: 160px;
    width: 490px;
    margin-right: 4px;
    margin-left: 0;
  }
}

.about__text p:nth-child(1) {
  margin-top: 0;
}

.about__addition {
  display: none;
}

.about__addition--tablet {
  @media (min-width: 768px) {
    display: inline;
  }
}

.about__addition--laptop {
  @media (min-width: 1120px) {
    display: inline;
  }
}

.about__button {
  display: flex;
  margin-top: 16px;
  background: none;
  border: none;
  align-items: center;
  padding: 0;
  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.about__button::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('img/row.svg') no-repeat center;
  margin-right: 8px;
}
.about__image {
  width: 320px;
  @media (min-width: 768px) {
    width: 46.88%;
  }
  @media (min-width: 1120px) {
    display: block;
    width: 531.35px;
    height: 307px;
    border-radius: 6px;
  }
}
