.shadow-brands {
  @media (min-width: 320px) {
    position: absolute;
    width: 24px !important;
    height: 81px;
    top: 675px;
    right: 0;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 9 !important;
  }
}
.brands {
  width: auto;
  @media (min-width: 1440px) {
    width: 1120px;
    margin-left: 320px;
  }

  &__list {
    margin: 0;
    padding: 0;
    min-width: 320px;
    list-style-type: none;

    @media (min-width: 768px) {
      display: grid !important;
      grid-template-columns: repeat(3, 224px) !important;
      row-gap: 16px !important;
      column-gap: 24px !important;
      max-height: 175px !important;
      transition: max-height 0.5s;
      margin-left: 24px;
      overflow: hidden;
    }

    @media (min-width: 1120px) {
      grid-template-columns: repeat(4, 240px) !important;
      column-gap: 32px !important;
      margin-left: 32px;
    }

    @media (min-width: 1440px) {
      width: 1120px;
    }
  }

  &__list-show {
    margin: 0;
    padding: 0;
    min-width: 320px;
    list-style-type: none;

    @media (min-width: 768px) {
      display: grid !important;
      grid-template-columns: repeat(3, 224px) !important;
      row-gap: 16px !important;
      column-gap: 24px !important;
      max-height: 340px !important;
      transition: max-height 0.5s;
      margin-left: 24px;
      overflow: hidden;
    }
    @media (min-width: 1120px) {
      grid-template-columns: repeat(4, 240px) !important;
      column-gap: 32px !important;
      margin-left: 32px;
    }
    @media (min-width: 1440px) {
      width: 1120px;
    }
  }

  &__item {
    border-radius: 6px;
    background-color: #fff;
    margin-left: 16px;
    border: #eaeaea 1px solid;
    box-sizing: border-box;
    width: 240px !important;
    height: 72px !important;
    @media (min-width: 768px) {
      width: 224px !important;
      margin: 0;
    }
    @media (min-width: 1120px) {
      width: 240px !important;
    }
  }

  &__link {
    display: inline-block;
    width: 240px;
    height: 72px;

    @media (min-width: 768px) {
      width: 224px !important;
    }
    @media (min-width: 1120px) {
      width: 240px !important;
    }
  }
  &__link--brand-1 {
    background: url(img/lenovo.png) no-repeat 10% 50%;
  }
  &__link--brand-2 {
    background: url(img/acer.png) no-repeat 10% 50%;
  }
  &__link--brand-3 {
    background: url(img/apple.png) no-repeat 10% 50%;
  }
  &__link--brand-4 {
    background: url(img/hp.png) no-repeat 10% 50%;
  }
  &__link--brand-5 {
    background: url(img/sony.png) no-repeat 10% 50%;
  }
  &__link--brand-6 {
    background: url(img/veiwsonic.png) no-repeat 10% 50%;
  }
  &__link--brand-7 {
    background: url(img/samsung.png) no-repeat 10% 50%;
  }

  &__link--brand-8 {
    background: url(img/hp.png) no-repeat 10% 50%;
  }

  &__link--brand-9 {
    background: no-repeat url(img/sony.png) 10% 50%;
  }

  &__link--brand-10 {
    background: url(img/lenovo.png) no-repeat 10% 50%;
  }

  &__link--brand-11 {
    background: url(img/apple.png) no-repeat 10% 50%;
  }
  &__link::after {
    display: block;
    content: '';
    background: url(img/go.svg) no-repeat right;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 16px;
    top: 16px;
  }
  &__wrapper-button {
    display: none;
    @media (min-width: 768px) {
      display: block;
      @media (min-width: 1440px) {
        width: 1120px;
        margin-left: 320px;
      }
      // position: absolute;
      // width: 100%;
      // background-color: #f8f8f8;
      // z-index: 1;
      // height: 161px;
      // top: 255px;
      // transform: translateY(496px);
      // transition: transform 0.3s;
    }
  }
  &__wrapper-button-show {
    @media (min-width: 1440px) {
      margin-left: 320px;
    }
  }
}
