.main-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  border: none;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.main-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.main-button--tablet {
  @media (min-width: 320px) {
    display: none;
  }

  @media (min-width: 768px) {
    display: block;
  }
}

.main-button--burger-item {
  background-image: url('img/burger.svg');
}
.main-button--repair-item {
  background-image: url('img/repair.svg');
}
.main-button--check-status-item {
  background-image: url('img/checkstatus.svg');
}
.main-button--call-item {
  background-image: url('img/call.svg');
}
.main-button--chat-item {
  background-image: url('img/chat.svg');
}
.main-button--profile-item {
  background-image: url('img/profile.svg');
}
.main-button--exit-item {
  background-image: url('img/exit.svg');
}
.main-button--search-item {
  background-image: url('img/search.svg');
  margin-left: 78px;
}

.about__button {
  display: flex;
  margin-top: 16px;
  background: none;
  border: none;
  align-items: center;
  padding: 0;
}

.about__button::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('img/row.svg') no-repeat center;
  margin-right: 8px;
}
