.footer {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #7e7e82;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 720px;
    margin: 0 auto;
  }
  @media (min-width: 1120px) {
    width: 1056px;
  }
  @media (min-width: 1440px) {
    margin: 0;
    margin-left: 350px;
  }

  &__dev {
    p {
      @media (min-width: 768px) {
        text-align: left;
      }
    }
  }

  &__info {
    p {
      @media (min-width: 768px) {
        text-align: right;
        @media (min-width: 1120px) {
          width: 330px;
        }
      }
    }
  }

  p {
    margin: 0;
    margin-bottom: 16px;
  }
}
