.title-gadgets {
  margin-top: 32px;
  @media (min-width: 1440px) {
    width: 1120px;
    margin-left: 320px;
  }
}

.shadow-gadgets {
  @media (min-width: 320px) {
    position: absolute;
    width: 24px !important;
    height: 166px;
    top: 905px;
    right: 0;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 9 !important;
  }
}

.gadgets {
  margin: 0 !important;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: 768px) {
      min-width: 768px;
      display: grid !important;
      grid-template-columns: repeat(3, 224px) !important;
      row-gap: 24px !important;
      column-gap: 24px !important;
      max-height: 175px !important;
      transition: max-height 0.5s;
      overflow: hidden;
    }

    @media (min-width: 1120px) {
      grid-template-columns: repeat(4, 240px) !important;
      column-gap: 32px !important;
    }
    @media (min-width: 1440px) {
      width: 1120px;
      margin-left: 320px;
    }
  }

  &__list-show {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: 768px) {
      min-width: 768px;
      display: grid !important;
      grid-template-columns: repeat(3, 224px) !important;
      row-gap: 24px !important;
      column-gap: 24px !important;
      max-height: 350px !important;
      transition: max-height 0.5s;
      overflow: hidden;
    }

    @media (min-width: 1120px) {
      grid-template-columns: repeat(4, 240px) !important;
      column-gap: 32px !important;
    }
    @media (min-width: 1440px) {
      width: 1120px;
      margin-left: 320px;
    }
  }

  &__item {
    width: 240px;
    height: 160px;
    background-color: #fff;
    border-radius: 6px;
    border: #eaeaea 1px solid;
    box-sizing: border-box;
    margin-left: 16px;
    padding-left: 16px;
    padding-top: 16px;

    @media (min-width: 768px) {
      width: 224px;
      margin-left: 24px;
    }
  }

  &__link {
    text-decoration: none;
    color: #1b1c21;
  }

  &__link::after {
    display: block;
    content: '';
    background: url(../img/go.svg) no-repeat right;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

  &__wrapper-button {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    @media (min-width: 1440px) {
      width: 1120px;
      margin-left: 320px;
    }
  }
  &__wrapper-button-show {
    @media (min-width: 1440px) {
      margin-left: 320px;
    }
  }

  &__button {
    @media (min-width: 768px) {
      font-family: $font;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.20000000298023224px;
      text-align: right;

      width: 134px;
      height: 24px;
      padding: 0;
      margin-left: 24px;
      border: none;
      background-color: #f8f8f8;
    }
    @media (min-width: 1120px) {
      margin-left: 32px;
    }
  }

  &__button:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  &__button::before {
    @media (min-width: 768px) {
      content: '';
      display: inline-block;
      width: 7.41px;
      height: 10.29px;
      background: url(../img/arrow.svg) no-repeat center;
      margin-right: 17.29px;
    }
  }
  &__button-show {
    @media (min-width: 768px) {
      font-family: TT Lakes;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.20000000298023224px;
      text-align: right;

      width: 88px;
      height: 24px;
      padding: 0;
      margin-left: 24px;
      border: none;
      background-color: #f8f8f8;
      margin-top: 24px;
      transform: translateY(0px);
    }

    @media (min-width: 1120px) {
      margin-left: 31px;
    }

    @media (min-width: 1440px) {
      // margin-left: 320px;
    }
  }

  &__button-show:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  &__button-show::before {
    @media (min-width: 768px) {
      content: '';
      display: inline-block;
      width: 7.41px;
      height: 10.29px;
      background: url(../img/arrowUp.svg) no-repeat center;
      margin-right: 15.29px;
    }
  }
}
