.heading {
  display: flex;
  margin-top: 24px;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  @media (min-width: 1440px) {
    width: 1120px;
    margin-left: 320px;
  }
}

.heading__text {
  border: 3px solid transparent;
  border-left-color: #41f6d7;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  padding-left: 10px;
  @media (min-width: 768px) {
    padding-left: 20px;
  }
  @media (min-width: 1120px) {
    padding-left: 30px;
  }
}

.heading__menu {
  display: none;
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
  }
}

.heading__button-repair {
  @media (min-width: 1440px) {
    display: flex;
  }
}

.heading__button-check {
  @media (min-width: 14400px) {
    margin-right: 30px;
    display: flex;
  }
}

.heading__label-button {
  @media (min-width: 1440px) {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
