.modal-feedback--blur {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 248, 248, 0.95);
  z-index: 7;
  left: 0px;
  top: 0;
}

.modal-feedback {
  display: none;
  max-width: 320px;
  min-height: 100%;
  border: unset;
  background: white;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  padding: 16px;

  @media (min-width: 1440px) {
    max-width: 440px;
  }

  &__close {
    @media (min-width: 1440px) {
      position: absolute;
      top: 40px;
      right: 473px;
    }
  }

  &__title {
    border: 3px solid transparent;
    border-left-color: #41f6d7;
    margin-left: -16px;
    padding-left: 12px;
    margin-top: 40px;
    margin-bottom: 24px;

    @media (min-width: 1440px) {
      margin-top: 24px;
    }
  }

  &__text {
    height: 118px !important;
    padding-bottom: 82px;
  }

  &__description {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #7e7e82;
    margin: 0;
    margin-bottom: 19px;

    @media (min-width: 1440px) {
      max-width: 376px;
      margin-left: 16px;
    }

    span {
      color: #ff3e79;
    }
  }

  &__submit-button {
    width: 136px;
    height: 32px;
    background: url(img/submit.svg) no-repeat center;
    border: unset;
    float: right;
  }
}
