.side-menu--blur {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 248, 248, 0.95);
  z-index: 5;
  right: 0px;
}

.side-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  flex: 1;
  box-shadow: 5px 0 40px #0e185033;
  max-width: 320px !important;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  flex-direction: column;
  z-index: 6;
  top: 0;
  left: 0;
  // transform: translateX(-320px);
  transition: transform 0.5s;
  @media (min-width: 1440px) {
    transform: translateX(0);
    display: flex !important;
    position: fixed;
    width: 320px;
    top: 0;
    left: 0;
    left: unset;
    box-shadow: unset;
  }

  &__header {
    display: flex;
    padding: 18px 16px;
    margin-bottom: 20px;
    gap: 16px;
    align-items: center;

    @media (min-width: 1440px) {
      gap: 65px;
    }

    .main-button--exit-item {
      @media (min-width: 1440px) {
        display: none;
      }
    }
  }

  &__navigation-menu {
    .navigation-menu__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .navigation-menu__item {
      margin-bottom: 24px;
    }

    .navigation-menu__item:last-child {
      margin-bottom: 0;
    }

    .navigation-menu__link {
      text-decoration: none;
      color: black;
      font-family: TT Lakes;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.20000000298023224px;
      text-align: left;
      padding-left: 24px;
    }

    .navigation-menu__link--active {
      border: 4px solid transparent;
      border-left-color: #41f6d7;
      color: #7e7e82;
      padding-left: 20px;
    }
    .navigation-menu__link:hover {
      opacity: 0.6;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    margin-top: auto;
    margin-left: 24px;

    .footer__footer-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 10px;

      .footer-menu__item {
        display: inline;
      }

      .footer-menu__button {
        margin-right: 16px;
      }
    }

    .footer__contacts {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-style: normal;
      margin-bottom: 8px;

      .contacts__link--mail {
        margin: 0;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
      }

      .contacts__link--mail:hover {
        opacity: 0.7;
        transition: opacity 0.2s;
      }

      .contacts__link--phone {
        margin: 0;
        font-family: TT Lakes;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
      }

      .contacts__link--phone:hover {
        opacity: 0.7;
        transition: opacity 0.2s;
      }

      .contacts__link {
        text-decoration: none;
        color: #1b1c21;
      }
    }

    .footer__language {
      list-style: none;
      padding-bottom: 32px;
      padding-left: 0;

      .language__item {
        display: inline;
      }

      .language__link {
        text-decoration: none;
        color: black;
      }

      .language__link:hover {
        opacity: 0.7;
        transition: opacity 0.2s;
      }

      .language__link--active {
        color: #7e7e82;
      }
    }
  }
}
