@import 'variables';
@import 'header';
@import 'buttons';
@import 'navigation';
@import 'heading';
@import 'about';
@import 'swiper';
@import 'brands';
@import 'wrapper-button';
@import 'gadgets';
@import 'title';
@import 'price';
@import 'card';
@import 'footer';
@import 'side-menu';
@import 'modal-feedback';
@import 'input';
@import 'modal-call';

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('/src/fonts/TTLakes-Regular.ttf') format('truetype'),
    url('/src/fonts/TTLakes-Regular.wof') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
    url('/src/fonts/TTLakes-Bold.ttf') format('truetype'),
    url('/src/fonts/TTLakes-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  @media (min-width: 1440px) {
    max-width: 1440px;
    margin: 0 auto;
  }
  margin: 0;
  padding: 0;
  background-color: $bgcolor;
  font-family: $font;
  overflow-x: hidden;
}
