.wrapper-button {
  &__button {
    @media (min-width: 768px) {
      font-family: $font;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.20000000298023224px;
      text-align: right;

      width: 134px;
      height: 24px;
      padding: 0;
      margin-left: 24px;
      border: none;
      background-color: #f8f8f8;
    }
    @media (min-width: 1120px) {
      margin-left: 32px;
    }
  }

  &__button:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  &__button::before {
    @media (min-width: 768px) {
      content: '';
      display: inline-block;
      width: 7.41px;
      height: 10.29px;
      background: url(img/arrow.svg) no-repeat center;
      margin-right: 17.29px;
    }
  }
  &__button-show {
    @media (min-width: 768px) {
      font-family: TT Lakes;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.20000000298023224px;
      text-align: right;

      width: 88px;
      height: 24px;
      padding: 0;
      margin-left: 24px;
      border: none;
      background-color: #f8f8f8;
      margin-top: 24px;
      transition: margin-top 0.5s;
      transform: translateY(0px);
    }

    @media (min-width: 1120px) {
      margin-left: 31px;
    }
  }

  &__button-show:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  &__button-show::before {
    @media (min-width: 768px) {
      content: '';
      display: inline-block;
      width: 7.41px;
      height: 10.29px;
      background: url(img/arrowUp.svg) no-repeat center;
      margin-right: 15.29px;
    }
  }
}
